@font-face {
  font-family: 'iconfont'; /* Project id 3250097 */
  src: url('//at.alicdn.com/t/font_3250097_8zz6p2uifv.woff2?t=1648809023118') format('woff2'),
    url('//at.alicdn.com/t/font_3250097_8zz6p2uifv.woff?t=1648809023118') format('woff'),
    url('//at.alicdn.com/t/font_3250097_8zz6p2uifv.ttf?t=1648809023118') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: '\e603';
}

.icon-duihuaqipao:before {
  content: '\e93c';
}

.icon-shoucang-x:before {
  content: '\e601';
}

.icon-like-x:before {
  content: '\eca2';
}

.icon-duihuaqipao1:before {
  content: '\e61e';
}

.icon-lik:before {
  content: '\eca1';
}

.icon-dibudaohanglan-:before {
  content: '\e628';
}

.icon-bofang:before {
  content: '\e66e';
}

.icon-zhiding:before {
  content: '\e63d';
}

.icon-zhiding1:before {
  content: '\e68b';
}

.icon-renzheng:before {
  content: '\ff5b';
}

.icon-rz:before {
  content: '\ff5c';
}

.icon-jurassic_openeyes:before {
  content: '\e69e';
}

.icon-aixin:before {
  content: '\e8ab';
}

.icon-aixin1:before {
  content: '\e8c3';
}

.icon-shoucang:before {
  content: '\e600';
}

.icon-fenxiang:before {
  content: '\e602';
}

.icon-shoucang1:before {
  content: '\e627';
}

.icon-icon-:before {
  content: '\e612';
}

.icon-xiaoxi:before {
  content: '\e8bd';
}

.icon-shoucang2:before {
  content: '\e8c6';
}

.icon-geren:before {
  content: '\e653';
}

.icon-guanzhuchenggong:before {
  content: '\e614';
}

.icon-renzheng1:before {
  content: '\e6a1';
}
